/*p1-p6*/

#parent{
    margin-top: 30%;
    position:relative; /* 子要素をabsoluteさせたい */
}

#parent h3{
    position:absolute;
    z-index: 1;
    color: #a3b6de;
    font-weight:bold;
    padding-left:13%;
    padding-top: 35%;
    font-size:230%;
}

#parent_second{
    margin-top: -7%;
    position:relative; /* 子要素をabsoluteさせたい */
}

#parent_second h2{
    position:absolute;
    z-index: 1;
    color: #a3b6de;
    font-weight:bold;
    padding-left:35%;
    padding-top: 7%;
    font-size:230%;
}

#parent div{
    position:absolute;
    backface-visibility:hidden;
    transition:all 1s ease; /* 全ての要素をアニメーション, 1秒, はじめと終わりは緩やかに変化 */
}
#parent .front{
}
#parent .flipped{
    transform:rotateY( 180deg );
}
#parent:hover .front{
    transform:rotateY( 180deg );
}
#parent:hover .flipped{
    transform:rotateY( 0deg );
}

#parent_second div{
    position:absolute;
    backface-visibility:hidden;
    transition:all 1s ease; /* 全ての要素をアニメーション, 1秒, はじめと終わりは緩やかに変化 */
}
#parent_second .front{
}
#parent_second .flipped{
    transform:rotateY( 180deg );
}
#parent_second:hover .front{
    transform:rotateY( 180deg );
}
#parent_second:hover .flipped{
    transform:rotateY( 0deg );
}


#like_artist{
    position: relative;
    margin-top: -24%;
}

#myword{
    position: relative;
    margin-top: -10%;
}

#like_content1,#like_content2,#like_content3,#like_content6,#like_content7,#like_content8{
    margin-top: -4%;
    margin-left: 2%;
}

#like_content4{
    margin-top: 3%;
    margin-left: 20%;
}

#like_content5{
    margin-top: 3%;
    margin-left: 2%;
}

#like_content1:hover,#like_content2:hover,#like_content3:hover,#like_content4:hover,#like_content5:hover,#like_content6:hover,#like_content7:hover,#like_content8:hover{
    opacity: 0.5;
    color: white;
}

#ig_erea{
    margin-top: 10%;
    margin-left: 10%;
}

#ig_content1{
    margin-top: 8%;
    margin-left: 5%;
}

#ig_content2{
    margin-top: 3%;
    margin-left: 7%;
}

#ig_table{
    margin-top:-45%;
}

#ig_photo_def{
    margin-top: 5%;
    margin-left: 5%;
}

#ig_photo{
    display: none;
    margin-top: -53%;
    margin-left: 5%;
}

#ig_letter_def{
    padding-left: 9%;
    padding-top: 55%;
    font-size: 100%;
}

#ig_letter{
    display: none;
    padding-top: 45%;
    padding-left: 9%;
    font-size: 100%;
}